<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Stats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Total expenses
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <app-chart [stats]="formattedStats"></app-chart>
      <p *ngFor="let el of formattedStats.labels; let i = index;">
        <strong>{{el}}</strong>: {{formattedStats.total[i]}} €
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
