<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [disabled]="expenseList.length == 0" routerLink="/stats" routerDirection="forward">
        <ion-icon slot="icon-only" name="stats"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      History
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="expenseList.length == 0" (click)="changeView()">
        <ion-icon slot="icon-only" name="swap"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="expenseList.length == 0">
    <ion-card-header>
      <ion-card-title>
        Welcome to Money Manager :)
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label color="dark" style="font-weight: bold;">To use this app, add an expense on the center tab!</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="expenseList.length > 0">
    <div *ngFor="let dateList of formattedList; let i = index;">
      <ion-item-divider>
        <ion-label>
          {{dateList.formatDate}}
        </ion-label>
        <ion-chip color="danger" slot="end">
          <ion-label color="dark">{{dateList.amount | number:'0.0-2'}} €</ion-label>
        </ion-chip>
      </ion-item-divider>
      <ng-container *ngFor="let tagList of dateList.elements | keys">
        <ion-item (click)="dateList.elements[tagList].show = !dateList.elements[tagList].show">
          <ion-icon slot="start" [name]="dateList.elements[tagList].tag.icon" [color]="dateList.elements[tagList].tag.color"></ion-icon>
          <ion-label>
            <h2 text-wrap>{{dateList.elements[tagList].tag.name}}</h2>
          </ion-label>
          <ion-chip [color]="dateList.elements[tagList].tag.color" slot="end">
            <ion-label>{{dateList.elements[tagList].amount | number:'0.0-2'}} €</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item-sliding [hidden]="!dateList.elements[tagList].show" *ngFor="let el of dateList.elements[tagList].list">
          <ion-item margin-horizontal>
            <ion-label>
              <h2 text-wrap>{{el.name}}</h2>
              <p>{{el.tag.name}}</p>
            </ion-label>
            <div slot="end">
              <ion-label>{{el.amount | number:'0.0-2'}} €</ion-label>
            </div>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="storage.elDelete(el)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ng-container>
    </div>
  </ion-list>
</ion-content>
