<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [disabled]="expenseList.length == 0" routerLink="/stats" routerDirection="forward">
        <ion-icon slot="icon-only" name="stats"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      History
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="expenseList.length == 0" (click)="changeView()">
        <ion-icon slot="icon-only" name="swap"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="expenseList.length == 0">
    <ion-card-header>
      <ion-card-title>
        Welcome to Money Manager :)
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label color="dark" style="font-weight: bold;">To use this app, add an expense on the center tab!</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="expenseList.length > 0">
    <div *ngFor="let el of formattedList; let i = index;">
      <ion-item-divider *ngIf="el.formatDate">
        <ion-label>
          {{el.formatDate}}
        </ion-label>
        <ion-chip color="danger" slot="end">
          <ion-label color="dark">{{el.amount}} €</ion-label>
        </ion-chip>
      </ion-item-divider>
      <ion-item-sliding *ngIf="!el.formatDate">
        <ion-item>
          <ion-icon slot="start" [name]="el.tag.icon" [color]="el.tag.color"></ion-icon>
          <ion-label>
            <h2 text-wrap>{{el.name}}</h2>
            <p>{{el.tag.name}}</p>
          </ion-label>
          <ion-chip slot="end">
            <ion-label>{{el.amount}} €</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="storage.elDelete(el)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>
</ion-content>
